doctype true
head
  //if gte mso 9
    xml
      o:officedocumentsettings
        o:allowpng
          o:pixelsperinch 96
  meta(content='text/html; charset=utf-8' http-equiv='Content-Type')
  meta(content='width=device-width' name='viewport')
  // [if !mso] <!
  meta(content='IE=edge' http-equiv='X-UA-Compatible')
  // <![endif]
  title
  // [if !mso] <!
  link(href='https://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css')
  // <![endif]
  style(type='text/css').
    body {
    margin: 0;
    padding: 0;
    }
    table,
    td,
    tr {
    vertical-align: top;
    border-collapse: collapse;
    }
    * {
    line-height: inherit;
    }
    a[x-apple-data-detectors=true] {
    color: inherit !important;
    text-decoration: none !important;
    }
  style#media-query(type='text/css').
    @media (max-width: 620px) {
    .block-grid,
    .col {
    min-width: 320px !important;
    max-width: 100% !important;
    display: block !important;
    }
    .block-grid {
    width: 100% !important;
    }
    .col {
    width: 100% !important;
    }
    .col>div {
    margin: 0 auto;
    }
    img.fullwidth,
    img.fullwidthOnMobile {
    max-width: 100% !important;
    }
    .no-stack .col {
    min-width: 0 !important;
    display: table-cell !important;
    }
    .no-stack.two-up .col {
    width: 50% !important;
    }
    .no-stack .col.num4 {
    width: 33% !important;
    }
    .no-stack .col.num8 {
    width: 66% !important;
    }
    .no-stack .col.num4 {
    width: 33% !important;
    }
    .no-stack .col.num3 {
    width: 25% !important;
    }
    .no-stack .col.num6 {
    width: 50% !important;
    }
    .no-stack .col.num9 {
    width: 75% !important;
    }
    .video-block {
    max-width: none !important;
    }
    .mobile_hide {
    min-height: 0px;
    max-height: 0px;
    max-width: 0px;
    display: none;
    overflow: hidden;
    font-size: 0px;
    }
    .desktop_hide {
    display: block !important;
    max-height: none !important;
    }
    }
  style#icon-media-query(type='text/css').
    @media (max-width: 620px) {
    .icons-inner {
    text-align: center;
    }
    .icons-inner td {
    margin: 0 auto;
    }
    }
//if IE
  .ie-browser
table.nl-container(bgcolor='#f9e5dd' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; min-width: 320px; Margin: 0 auto; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #f9e5dd; width: 100%;' valign='top' width='100%')
  tbody
    tr(style='vertical-align: top;' valign='top')
      td(style='word-break: break-word; vertical-align: top;' valign='top')
        //if (mso)|(IE)
          table(width='100%' cellpadding='0' cellspacing='0' border='0')
            tr
              td(align='center' style='background-color:#f9e5dd')
        div(style='background-color:transparent;')
          .block-grid.two-up(style='Margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #f9e5dd;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:#f9e5dd;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:600px')
                        tr.layout-full-width(style='background-color:#f9e5dd')
              //if (mso)|(IE)
                td(align='center' width='300' style='background-color:#f9e5dd;width:300px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
              .col.num6(style='max-width: 320px; min-width: 300px; display: table-cell; vertical-align: top; width: 300px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    .img-container.center.fixedwidth(align='center' style='padding-right: 0px;padding-left: 0px;')
                      //if mso
                        table(width='100%' cellpadding='0' cellspacing='0' border='0')
                          tr(style='line-height:0px')
                            td(style='padding-right: 0px;padding-left: 0px;' align='center')
                      img.center.fixedwidth(align='center' alt='Alternate text' border='0' src='cid:logoPink' style='text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; width: 100%; max-width: 300px; display: block;' title='Alternate text' width='300')
                      //if mso
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
                td(align='center' width='300' style='background-color:#f9e5dd;width:300px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
              .col.num6(style='max-width: 320px; min-width: 300px; display: table-cell; vertical-align: top; width: 300px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    .img-container.center.fixedwidth(align='center' style='padding-right: 0px;padding-left: 0px;')
                      //if mso
                        table(width='100%' cellpadding='0' cellspacing='0' border='0')
                          tr(style='line-height:0px')
                            td(style='padding-right: 0px;padding-left: 0px;' align='center')
                      img.center.fixedwidth(align='center' alt='Alternate text' border='0' src='cid:logoCuarentena' style='text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; width: 100%; max-width: 285px; display: block;' title='Alternate text' width='285')
                      //if mso
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        div(style='background-color:transparent;')
          .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #f9e5dd;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:#f9e5dd;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:600px')
                        tr.layout-full-width(style='background-color:#f9e5dd')
              //if (mso)|(IE)
                td(align='center' width='600' style='background-color:#f9e5dd;width:600px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
              .col.num12(style='min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top; width: 600px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 0px; font-family: Arial, sans-serif')
                    div(style="color:#000000;font-family:'Abril Fatface', Arial, 'Helvetica Neue', Helvetica, sans-serif;line-height:1.2;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;")
                      div(style="line-height: 1.2; font-size: 12px; font-family: 'Abril Fatface', Arial, 'Helvetica Neue', Helvetica, sans-serif; color: #000000; mso-line-height-alt: 14px;")
                        p(style="font-size: 38px; line-height: 1.2; word-break: break-word; text-align: center; font-family: 'Abril Fatface', Arial, 'Helvetica Neue', Helvetica, sans-serif; mso-line-height-alt: 46px; margin: 0;")
                          span(style='font-size: 38px;') Mart&oacute;n de Tehilim
                    //if mso
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' height='1' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 1px solid #000000; height: 1px; width: 16%;' valign='top' width='16%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(height='1' style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 40px; padding-left: 40px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, sans-serif')
                    div(style='color:#555555;font-family:Nunito, Arial, Helvetica Neue, Helvetica, sans-serif;line-height:1.5;padding-top:10px;padding-right:40px;padding-bottom:10px;padding-left:40px;')
                      div(style='line-height: 1.5; font-size: 12px; color: #555555; font-family: Nunito, Arial, Helvetica Neue, Helvetica, sans-serif; mso-line-height-alt: 18px;')
                        p(style='font-size: 34px; line-height: 1.5; word-break: break-word; text-align: center; mso-line-height-alt: 51px; margin: 0;')
                          span(style='font-size: 34px;') Felicidades, ya eres parte del marat&oacute;n de tehilim!!!!!
                    //if mso
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, sans-serif')
                    div(style='color:#555555;font-family:Nunito, Arial, Helvetica Neue, Helvetica, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;')
                      div(style='line-height: 1.2; font-size: 12px; color: #555555; font-family: Nunito, Arial, Helvetica Neue, Helvetica, sans-serif; mso-line-height-alt: 14px;')
                        p(style='font-size: 14px; line-height: 1.2; word-break: break-word; text-align: center; mso-line-height-alt: 17px; margin: 0;')
                          strong
                            span(style='font-size: 22px;') Tus tehilims asignados son:
                    //if mso
                    div(style='font-size:16px;text-align:center;font-family:Nunito, Arial, Helvetica Neue, Helvetica, sans-serif')
                      ul
                        each val in tehilims
                            li= val
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        div(style='background-color:transparent;')
          .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:600px')
                        tr.layout-full-width(style='background-color:transparent')
              //if (mso)|(IE)
                td(align='center' width='600' style='background-color:transparent;width:600px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:0px;')
              .col.num12(style='min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top; width: 600px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' height='40' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid transparent; height: 40px; width: 100%;' valign='top' width='100%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(height='40' style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        div(style='background-color:transparent;')
          .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #f9e5dd;')
            div(style="border-collapse: collapse;display: table;width: 100%;background-color:#f9e5dd;background-image:url('images/quote-bg.png');background-position:center top;background-repeat:no-repeat")
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:600px')
                        tr.layout-full-width(style='background-color:#f9e5dd')
              //if (mso)|(IE)
                td(align='center' width='600' style='background-color:#f9e5dd;width:600px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:0px;')
              .col.num12(style='min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top; width: 600px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    table(cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;' valign='top' width='100%')
                      tr(style='vertical-align: top;' valign='top')
                        td(align='center' style='word-break: break-word; vertical-align: top; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; text-align: center;' valign='top')
                          //if vml
                            table(align='left' cellpadding='0' cellspacing='0' role='presentation' style='display:inline-block;padding-left:NaNpx;padding-right:NaNpx;mso-table-lspace: 0pt;mso-table-rspace: 0pt;')
                          // [if !vml] <!
                          table.icons-inner(cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; display: inline-block; margin-right: -4px; padding-left: NaNpx; padding-right: NaNpx;' valign='top')
                            // <![endif]
                            tr(style='vertical-align: top;' valign='top')
                              td(align='center' style='word-break: break-word; vertical-align: top; text-align: center; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;' valign='top')
                                img.icon(align='center' height='32' src='cid:quote-icon' style='border:0;' width='null')
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 5px; padding-left: 5px; padding-top: 5px; padding-bottom: 5px; font-family: Arial, sans-serif')
                    div(style='color:#000000;font-family:Nunito, Arial, Helvetica Neue, Helvetica, sans-serif;line-height:1.5;padding-top:5px;padding-right:5px;padding-bottom:5px;padding-left:5px;')
                      div(style='line-height: 1.5; font-size: 12px; font-family: Nunito, Arial, Helvetica Neue, Helvetica, sans-serif; color: #000000; mso-line-height-alt: 18px;')
                        p(style='font-size: 24px; line-height: 1.5; word-break: break-word; text-align: center; font-family: Nunito, Arial, Helvetica Neue, Helvetica, sans-serif; mso-line-height-alt: 36px; margin: 0;')
                          span(style='font-size: 24px; background-color: transparent;')
                            | &ldquo;Hay cuatro cosas que anulan los decretos severos: la&nbsp;caridad, clamar a&nbsp;Dios, cambiarse el nombre y mejorar el&nbsp;comportamiento.&rdquo;.
                    //if mso
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' height='1' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 1px solid #000000; height: 1px; width: 8%;' valign='top' width='8%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(height='1' style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        div(style='background-color:transparent;')
          .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:600px')
                        tr.layout-full-width(style='background-color:transparent')
              //if (mso)|(IE)
                td(align='center' width='600' style='background-color:transparent;width:600px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:0px;')
              .col.num12(style='min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top; width: 600px;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' height='40' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 0px solid transparent; height: 40px; width: 100%;' valign='top' width='100%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(height='40' style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        //if (mso)|(IE)
//if (IE)